<template>
  <div class="hello">
    <div>
      <p class="m-1">{{ dataEmpleado.employeeType }} --> {{ dataEmpleado.salary }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Empleado',
  props: {
    dataEmpleado: Object
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>
</style>
