<template>
  <div class="container">
    <div class="mb-4">
      <h2 class="alert alert-light">Bienvenido</h2>
      <div class="btn-group">
        <button class="btn-dark btn-lg" @click='addNewProject()'>Crear nuevo proyecto</button>
      </div>
    </div>
    <div v-for="projectNum in projectsList" :key="projectNum" class="border-dark card card-body m-4">
      <ProjectCapsule v-bind:project-number="projectNum"></ProjectCapsule>
    </div>
  </div>
</template>

<script>
import ProjectCapsule from './ProjectCapsule'
export default {
  name: 'MainContainer',
  data () {
    return {
      projectsCounter: 0,
      projectsList: []
    }
  },
  methods: {
    addNewProject () {
      this.projectsCounter++
      this.projectsList.push(this.projectsCounter)
    }
  },
  components: {
    ProjectCapsule
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
