<template>
  <div>
    <div class="card-header font-weight-bold text-primary">
      <p class="blockquote m-0">Proyecto {{ projectNumber }}</p>
    </div>
    <div v-for="(employee, index) in employeesObjectList" :key="index" class="card card-text">
      <Empleado v-bind:data-empleado="employee"></Empleado>
    </div>
    <div class="bg-info border-dark card card-text">
      <p class="font-weight-bold m-1 text-body">Total = {{ totalBudget }}</p>
    </div>
    <div class="card-footer">
      <p class="mb-1">Añadir nuevo empleado</p>
      <div class="btn-group">
        <button class="btn btn-secondary" @click="addNewEmployee('ManagerA')">ManagerA</button>
        <button class="btn btn-secondary" @click="addNewEmployee('ManagerB')">ManagerB</button>
        <button class="btn btn-secondary" @click="addNewEmployee('Developer')">Developer</button>
        <button class="btn btn-secondary" @click="addNewEmployee('QAtester')">QAtester</button>
      </div>
    </div>
  </div>
</template>

<script>
import Empleado from './Empleado'
export default {
  name: 'ProjectCapsule',
  props: {
    projectNumber: Number
  },
  data () {
    return {
      employeesObjectList: [],
      totalBudget: 0
    }
  },
  methods: {
    addNewEmployee (employeeType) {
      let objEmployee = {
        employeeType: employeeType
      }
      // Asignar salario de acuerdo a tipo de empleado
      if (employeeType === 'ManagerA' || employeeType === 'ManagerB') {
        let salario = 300
        objEmployee.salary = salario
      } else if (employeeType === 'QAtester') {
        let salario = 500
        objEmployee.salary = salario
      } else if (employeeType === 'Developer') {
        let salario = 1000
        objEmployee.salary = salario
      }
      // Agregar objeto empleado a lista
      this.employeesObjectList.push(objEmployee)
      this.calculateTotal()
    },
    calculateTotal () {
      this.totalBudget = 0
      Object.values(this.employeesObjectList).forEach(value => {
        this.totalBudget += value.salary
      })
    }
  },
  components: {
    Empleado
  }
}
</script>

<style scoped>
</style>
